.App {
    text-align: center;
    overflow: hidden;
}

.j0nnylester {
    background-color: palegoldenrod;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
